<!DOCTYPE html>
<html lang="zh-TW" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= page.title %> - <%= config.title || "我的網站" %>
    </title>
    <link rel="icon" href="<%= theme.favicon || '/images/default-favicon.ico' %>" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Noto+Serif+TC:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <%- css('css/style') %>
    <script src="/js/scrollSidebar.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <%- partial('_partial/header') %>

    <div class="container">
        <div class="row">
            <!-- 左側欄 -->
            <div class="col-12 col-md-8 px-3 px-md-5 border-end mobile-no-right-border">
                <div class="py-4 py-md-5">
                    <h1 class="mb-4"><%= config.description || "網站描述" %></h1>

                    <!-- 手機版作者 -->
                    <div class="row my-4 align-items-center d-md-none">
                        <div class="col-4 profile-picture">
                            <img src="<%= theme.profile_picture || '/images/default-profile-picture.jpg' %>" alt="Profile" class="img-fluid">
                        </div>
                        <div class="col-8 ps-3 pb-3">
                            <h4 class="profile-author"><%= config.author || "作者" %></h4>
                            <p class="profile-description"><%= theme.author_description || "作者描述" %></p>
                        </div>
                    </div>

                    <div class="px-2 mb-3 d-md-none">
                        <% if (theme.contact_link) { %>
                            <a href="<%= theme.contact_link %>" class="icon-link" title="Contact Me">
                                <i class="bi bi-person-lines-fill"></i>
                            </a>
                        <% } %>
                        <% if (theme.contact_mail) { %>
                            <a href="mailto:<%= theme.contact_mail %>" class="icon-link" title="Send Email">
                                <i class="bi bi-envelope-at"></i>
                            </a>
                        <% } %>
                    </div>

                    <% if (page.path.includes('categories') || page.path.includes('archives')) { %>
                    <nav class="row border-bottom font-english">
                        <div class="col-1 pb-3 text-dark">
                            <p class="m-0"><%= page.path.includes('categories') ? 'Categories' : 'Archives' %></p>
                        </div>
                    </nav>
                    <% } else { %>
                    <nav class="row border-bottom font-english">
                        <div class="col-3 col-md-1 pb-3 me-3 text-center <%= page.path === 'index.html' ? 'border-bottom border-dark text-dark' : '' %>">
                            <a href="<%= config.url %>" class="text-decoration-none text-secondary <%= page.path === 'index.html' ? 'text-dark' : '' %>">Home</a>
                        </div>
                        <% if (site.pages.data.some(p=> p.source === 'about/index.md')) { %>
                            <div class="col-3 col-md-1 pb-3 text-center <%= page.path === 'about/index.html' ? 'border-bottom border-dark' : '' %>">
                                <a href="<%= config.url %>/about" class="text-decoration-none text-secondary <%= page.path === 'about/index.html' ? 'text-dark' : '' %>">About</a>
                            </div>
                        <% } %>
                    </nav>
                    <% } %>
                </div>

                <main>
                    <% if (typeof body !=='undefined' ) { %>
                        <%- body %>
                    <% } else { %>
                        <p>內容載入錯誤。</p>
                    <% } %>
                </main>
            </div>

            <!-- 右側欄 -->
            <div class="col-12 col-md-4 px-4 min-vh-100 d-none d-md-block">
                <div class="right-sidebar">
                    <div class="right-sidebar-content">
                        <div class="profile">
                            <div class="profile-picture">
                                <img src="<%= theme.profile_picture || '/images/default-profile-picture.jpg' %>" alt="Profile" class="img-fluid">
                            </div>
                            <h4 class="profile-author"><%= config.author || "作者" %></h4>
                            <p class="profile-description"><%= theme.author_description || "作者描述" %></p>
                        </div>

                        <div class="action-icons">
                            <% if (theme.contact_link) { %>
                                <a href="<%= theme.contact_link %>" class="icon-link" title="Contact Me">
                                    <i class="bi bi-person-lines-fill"></i>
                                </a>
                            <% } %>
                            <% if (theme.contact_mail) { %>
                                <a href="mailto:<%= theme.contact_mail %>" class="icon-link" title="Send Email">
                                    <i class="bi bi-envelope-at"></i>
                                </a>
                            <% } %>
                        </div>

                        <div class="sidebar-menu">
                            <ul>
                                <li><a href="<%= config.url %>/">首頁</a></li>
                                <% if (site.pages.data.some(p=> p.source === 'about/index.md')) { %>
                                    <li><a href="<%= config.url %>/about">關於</a></li>
                                <% } %>
                                <li><a href="<%= config.url %>/archives">歸檔</a></li>
                                <li><a href="<%= config.url %>/categories">分類</a></li>
                            </ul>
                        </div>

                        <div class="sidebar-footer">
                            <p class="p-0 m-0">© <%= new Date().getFullYear() %> <%= config.author || "作者" %></p>
                            <p class="p-0 font-english">Template by <a href="https://github.com/benjaminchen/hexo-theme-ronin-simple">Benjamin Chen</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>