<article>
    <h1><%= page.title %></h1>
    <p><%= date(page.date, 'YYYY-MM-DD') %> - 作者: <%= config.author %></p>
    <div class="mb-5">
        <div class="mb-4">
            <img src="<%= page.image || '/images/default-cover.jpg' %>" alt="Post Image" class="w-100" />
        </div>

        <%- page.content %>
    </div>
</article>
